<footer class="footer">
<small>
<a href="http://railstutorial.org/">Rails Tutorial</a>
by Michael Hartl
</small>
<nav>
<ul>
<li><%= link_to "About", foo_path %></li>
<li><%= link_to "Contact", bar_path %></li>
<li><%= link_to "Test" , baz_path %></li>
</ul>
</nav>
</footer>
